* {
  padding: 0;
  margin: 0;
}
:root {
  transition: color 300ms, background-color 300ms;
  color-scheme: light dark;
}
.header_bg {
  width: 100%;
  height: 8vh;
  box-sizing: border-box;
  padding: 5px 3px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  backdrop-filter: saturate(180%) blur(20px);
}

.l-logo {
  display: inline-block;
  transition: transform .8s ease;
}
.l-logo:hover {
  transform: rotate(10deg) translateX(-25px);
}

.body_bg {
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 1;
}

.lottie_ani {
  width: 100%;
  height: 200px;
}

#container {
  --scroll: 0;
  height: 105vh;
  margin-top: calc(-1 * (200px + 8vh));
}
.sticky {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky span {
  font-weight: bold;
  position: absolute;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc((100 - var(--scroll)) * 1%),
    0% calc((100 - var(--scroll)) * 1%)
  );
}

.sticky span:nth-child(2) {
  clip-path: polygon(
    0% calc((100 - var(--scroll)) * 1%),
    100% calc((100 - var(--scroll)) * 1%),
    100% 100%,
    0% 100%
  );
}

.footer_bg {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 12px;
  position: relative;
  z-index: 8;
}
.footer_bg a {
  text-decoration: none;
  color: inherit;
}
@media (prefers-color-scheme: light) {
  html {
    background-color: #f5f5f7;
  }
  .body_bg {
    background-color: #ffffff;
  }
  .header_bg {
    background-color: rgb(245 245 247 / 0.8);
  }
  .footer_bg {
    background-color: #f5f5f7;
    color: #6e6e73;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #181819;
  }
  .body_bg {
    background-color: #202020;
  }
  .header_bg {
    background-color: rgb(22 22 23 / 0.8);
  }
  .footer_bg {
    background-color: #454545;
  }
}
.doing {
  cursor: default;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -44px;
}
